{{ partial "html_header.html" . }}
{{ partial "nav_header.html" . }}

<section id=content>
  <ul class=posts_listing>
    {{ range .Data.Pages.ByPublishDate.Reverse }}
      <li>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div id=date>
          <time>{{ .Date.Format .Site.Params.dateform }} | 
            {{ .ReadingTime }} minute read | 
            {{if isset .Params "tags" }}
              {{$num_tags := len .Params.tags}}
              {{ if gt $num_tags 0 }}
                Tags: {{ range $index, $tag := .Params.tags }}
                <u><a href="/tags/{{ urlize . }}">{{ . }}</a></u>{{ if ne $index (sub $num_tags 1) }},{{ end }}
                {{ end }}
              {{ end }}
              Tags: None
            {{ end }}
        </time>
        </div>
      </li>
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}

