<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <!--<base href="{{ .Site.BaseURL }}"> -->
    {{ if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}

    <link rel="dns-prefetch" href="//fonts.googleapis.com/">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400|Old+Standard+TT:400' rel='stylesheet' type='text/css'>

    <title>
      {{ $url := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
      {{ if eq $url "/" }}
        {{ .Site.Params.sitename }}
      {{ else }}
        {{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Site.Params.sitename }} {{ end }}
      {{ end }}
    </title>
    <link rel="canonical" href="{{ .Permalink }}">
    
    <link rel="stylesheet" href="{{.Site.BaseURL }}/font-awesome.min.css">
    <style> 
        @font-face {
            font-family: sansation;
	    src: url({{ .Site.BaseURL }}/fontawesome-webfont.woff);
        }
    </style> 

    {{ partial "styles.html" . }}

    <link rel="shortcut icon" href="/favicon.ico">

    {{ range .Site.Home.AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

  </head>

  <body>

