<!-- Begin Mailchimp Signup Form -->
<style type="text/css">
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    input, select, textarea {
        background-color: #fff;
        color: #000;
        font-weight: 400;
        padding: 8px 16px;
        width: 100%;
        color: #ababab;
    }
    .page-embed-form {
        box-sizing: border-box;
        display: block;
        text-align: left;
        padding: 10px;
        margin: 50px;
        background: rgba(0,0,0,.05);
    }
    .page-embed-form h3 {
        text-align: center;
    }
    .page-embed-form .intro {
        text-align: center;
    }
    #mc_embed_signup_scroll {
        text-align: center;
    }
    .page-embed-form .mc-field-email {
        max-width: 250px;
        margin: 0 10px 10px 10px;
        display: inline-block;
        text-align: left;
    }
    .page-embed-form .mc-email-button {
        display: inline-block;
    }
    .page-embed-form input.email {
        color: black;
        box-sizing: border-box;
        min-height: 36px;
        text-align: left;
    }
    .page-embed-form .button {
        background-color: transparent;
        color: #000000;
        border: 1px solid #000000;
        min-height: 36px;
        width: 120px;
        margin: 0 10px 20px 10px;
    }
</style>
<div class="content-section">
    <div id="mc_embed_signup" class="dm-well page-embed-form">
        <form action="https://ferrisellis.us20.list-manage.com/subscribe/post?u=2d3b0cff2520d95e8fa1ae386&amp;id=a5a2641232" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="" _lpchecked="1">
            <h3>Subscribe to the monthly newsletter for new content.</h3>
            <p></p>
            <div id="mc_embed_signup_scroll">
                <div class="mc-field-email">
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required="">
                </div>
                <div class="mc-email-button">
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2d3b0cff2520d95e8fa1ae386_a5a2641232" tabindex="-1" value=""></div>
            </div>
        </form>
    </div>
</div>
<!-- End Mailchimp Signup Form -->
