{{ partial "header.html" . }}

<section id=content>
  <ul class=posts_listing>
    {{ range .Data.Pages.ByPublishDate }}
      <li>
        <figure>
          <img src="/images/{{ .Params.cover_image_name }}">
        </figure>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <div id=date>
          <time>{{ .Date.Format .Site.Params.dateform }} | 
            {{ .Params.talk_length_minutes }} minute talk | 
            {{$num_tags := len .Params.tags}}
            {{ if eq 0 $num_tags }}
              Tags: None
            {{ else }}
              Tags: {{ range $index, $tag := .Params.tags }}
              <u><a href="/tags/{{ urlize . }}">{{ . }}</a></u>{{ if ne $index (sub $num_tags 1) }},{{ end }}
              {{ end }}
            {{ end }}

        </time>
        </div>
      </li>
    {{ end }}
  </ul>
</section>

{{ partial "footer.html" . }}

